# Appwrite Project Details
VITE_APPWRITE_ENDPOINT="https://fra.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID=""
VITE_APPWRITE_PROJECT_NAME="ResQPlate"

# Appwrite Database & Collections
VITE_APPWRITE_DATABASE_ID=""
VITE_APPWRITE_PICKUPS_COLLECTION_ID="pickups"

VITE_GEMINI_KEY="add-your-google-genai-api-key-here"